* text=auto
*.py text eol=lf
*.json text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.lock text eol=lf
Makefile text eol=lf
.python-version text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.pdf binary
